*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}
.logo{
    mix-blend-mode: multiply;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #111;
}

p{
    color: #111;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 10px 25px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}
.col-2{
    flex-basis: 40%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0 ;
    margin-bottom: 70px;
    mix-blend-mode: multiply;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-weight: 700;
}
.btn{
    display: inline-block;
    background-color: darkred;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background-color:cadetblue;

}
.header{
    background: radial-gradient(#fff,lightgrey);
}
.header .row{
    margin-top: 70px;
}

/* ------------Featured Categories----------------- */
.categories{
    margin: 100px 50px;
}
.small-container h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 80px ;
    position: relative;
    line-height: 50px;
}
.small-container h2::after{
    content: '';
    background: darkred;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-3{
    flex-basis: 25%;
    min-width: 250px;
    transition: transform 0.5s;
    text-align: center;
    border:2px solid lightslategrey;
    padding: 20px 20px;
    border-radius: 20px;
    height: 350px;
    box-shadow: 5.2px 10.4px 10.4px hsl(0deg 0% 0% / 0.34);

}
.col-3 img{
    width: 100%;
}
.col-3:hover{
    transform: translateY(-5px);
}

.small-contanier{
    max-width: 1080px;
    margin: auto;
}
.col-3 h3{
    margin-top: 60px ;
    font-weight: 500;
    font-size: 25px;
    text-decoration: underline;
}

/* ---------------Featured Products-----------------  */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    font-weight: 600;
}
.title::after{
    content: '';
    background: darkred;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}  
h4{
    font-weight: 400;
}
.col-4 p{
    font-size: 15px;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* -----------offer----------- */

.offer{
    background: radial-gradient(#fff,lightgrey);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 10px;
}

/* -----------------testimonial----------------- */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.col-3 p{
    font-size: 14px;
    margin: 12px 0;
    color: grey;
}
.testimonial .col-3 h3{
    font-weight: 600;
    font-size: 15px;
}

/* ------------Brands------------ */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* -----------------footer----------------- */

.footer{
    background-color: black;
    color: #fff;
    font-size: 14px;
}
.footer p{
    color: #fff;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    flex-basis: 60%;
    margin: 0 5px;
}

.footer-col-1 img{
    width: 120px;
    margin-bottom: 20px;
}
.footer-col-2{
    flex: 1;
}
.footer-col-2 #addlink:hover{
    color: blue;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    margin-bottom: 106px;
}
.footer-col-3 a{
    color: #fff;
}
.footer-col-3 a:hover{
    color: blue;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background-color: #b5b5b5;
    height: 1px;
    margin: 50px 0;
}
.copyright{
    text-align: center;
}
#menu{
    margin-left: 20px;
    display: none;   
}

/* ----------All Products Page------------ */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    padding: 5px;
    border: 2px solid black;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid black;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background-color: black;
    color: white;
}
/* ------------Single Product Page------------ */
#product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.single-product .col-2 {
    max-width: 40%;
    padding: 10px 10px;
    margin: 20px 20px;
}

.single-product .col-2 img {
    width: 100%;
    height: auto;
}
.single-product .col-2 h2{
    font-size: 26px;
    line-height: 32px;
    margin: 50px 0;
    font-weight: 700;
}
.single-product .col-2 p{
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    color: #555;
}

/* <!-- -----------cart items details----------- --> */
.cart-page{
        margin: 50px 200px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #333;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: red;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #333;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* ---------account page------------ */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff,lightgrey);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: 700;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 8px 0;
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #333;
    height: 3px;
    margin-top: 8px;
    transform: translateX(105px);
    transition: transform 1s;
}

/* ------About----- */
.about{
    text-align: center;
    margin: 0 20px;
}
.about h1{
    font-size: 30px;
    line-height: 50px;
    margin: 50px 0 100px;
    font-weight: 700;
}
.highlight{
    font-weight: 600;
}
.about p{
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
}
.about h2{
    font-size: 26px;
    line-height: 32px;
    margin: 50px 0;
    font-weight: 700;
    padding-top: 100px;
}
.branch-list{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.why-list{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap;
}

/* -----------media query--------- */
@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    #menu{
        display:block;
        cursor: pointer;
    }
}


/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
        margin: 20px 0;
    }
    .single-product .row{
        text-align: center;
        align-items: center;
        margin: 0 20px;
        display: block;
    }
    #product-details{
        margin: 0 20px;
        justify-content: center;
        flex-wrap: column;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info{
        display: block;
    }
    .cart-page{
        margin: 50px 20px;
    }
    .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .why-list{
        flex-wrap: wrap;
        text-align: center;
    }
}
